.textCenter {
  text-align: center;
}

.subhead {
  padding: 0 12px;
  font-weight: 300;
  margin: 0;
}

.modalButton {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 4rem;
}

.modalStyles {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modalHeadline {
  margin-bottom: 3rem;
}

.modalCloseIcon {
  position: absolute;
  top: 44px;
  right: 0;
  transform: rotate(-90deg);
  cursor: pointer;
  svg {
    vertical-align: middle;
    margin-left: 10px;
  }
}

.modalInner {
  padding: 5px 20px 20px 20px;
}

.infoTooltip {
  width: 30px;
  height: 30px;
}
